:root {
  --bg-color: #212121;
  --color: #ececdf;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-weight: lighter;
  overflow-x: hidden;
}

.container {
  text-align: center;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.screen-not-good {
  display: block;
}

.screen-is-good {
  display: none;
}

@media screen and (min-width: 675px) {
  .screen-not-good {
    display: none;
  }

  .screen-is-good {
    display: block;
  }

  .container pre {
    display: inline-block;
    text-align: left;
  }
}

.pre.a {
  outline: none;
  color: var(--color);
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: 1200 !important;
}

.subtitle {
  margin-top: -25px !important;
}

.responsive {
  width: 100%;
  height: auto;
}
